
<div class="container">
  <div class="row">
    <h1> The moment I decided to start coding ... </h1>
    <div class="col s4">
      <p class="flow-text"></p>
    </div>
    <div class="col s4">
      <p class="flow-text"></p>
    </div>
    <div class="col s4">
      <p class="flow-text"></p>
    </div>
  </div>
</div>




<p><%= link_to "Back", root_path %></p>
