<div class="container">
<div class="row">
  <h2> Want to say hi or arange a meet up? </h2>
  <div class="col s4">
    <p class="flow-text"></p>
    </div>

  </div>
  <div class="col s4">
    <p class="flow-text"></p>
  </div>
  <div class="col s4">
    <p class="flow-text"></p>
  </div>


  <p><%= link_to "Back", root_path %></p>
